{
  "extends": [
    "taro"
  ],
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "Taro"
      }
    ],
    "import/no-commonjs": "off",
    "import/prefer-default-export": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-closing-bracket-location": "off"
  },
  "parser": "babel-eslint"
}
